body{
    display:flex;
    justify-content: center;
    min-height: 100dvh;
    align-items: center;
    margin: 0px 50px;
}

.box{
border-radius: 30px;
font-family: SF Pro,sans-serif;
font-weight: 600;
width: 250px;
padding: 20px;
}
.field{
    display: flex;
    justify-content: center;
/* width: 20%; */
border: 1px solid transparent;
width: fit-content;
background-color: white;
border-radius: 30px;
margin: 0px 150px;
}

.boo{
border-radius: 50px;
width: 100%;
/* width: 400px; */
border-radius: 30px;
/* padding: 20px; */

}

h1{
    font-size: 20px;
}
.s-text{
    flex-direction: column;
}
